h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
}

.text-danger {
  display: block;
  margin-top: 5px;
}

.mt-3 {
  margin-top: 1rem !important;
}
