.home-page {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.hero {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.hero-title {
  font-size: 4rem;
  margin: 0;
  text-transform: uppercase;
  animation: fadeInDown 1s ease-in-out;
  color: white;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 10px 0;
  animation: fadeInUp 1s ease-in-out;
  color: white;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #fff;
}

.feature {
  max-width: 300px;
  text-align: center;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  line-height: 1.5;
}

.destinations {
  padding: 40px 20px;
  background-color: #eee;
  text-align: center;
}

.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination-box {
  max-width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.destination-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.destination-box h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.destination-box p {
  font-size: 1rem;
  color: #666;
  flex-grow: 1;
}

.btn-primary {
  margin-top: 10px;
}

.footer {
  background-color: #007bff;
  color: white !important;
  text-align: center;
  padding: 10px 0;
}
.footer p {
  color: white !important;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
