.international-tour {
  background-color: #f8f9fa;
  padding-bottom: 50px;
}

.card {
  margin-bottom: 20px;
}

.card-img-top.equal-image {
  height: 200px;
  width: 100%; 
  object-fit: cover; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  display: flex;
  flex: 1;
}

.card.equal-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.international-tour .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.international-tour .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: translateY(-2px);
}

.international-tour .btn-primary:active {
  background-color: #004085;
  border-color: #004085;
}
